.info {
    color: seagreen;
    padding: 20px;
    font-weight: 700;
    border: 3px solid green;
    border-radius: 10px;
    background-color: palegreen;
}

.error {
    color: red;
    padding: 20px;
    font-weight: 700;
    border: 3px solid red;
    border-radius: 10px;
    background-color: lightcoral;
}
